{
    "extends": "standard",
    "rules": {
        "no-fallthrough": [
            "off"
        ],
        "quotes": [2, "single", { "allowTemplateLiterals": true }],
        "no-void": "off"
    }
}