{
    "extends": [
        "standard",
        "plugin:jsdoc/recommended-error"
    ],
    "rules": {
        "no-fallthrough": [
            "off"
        ],
        "quotes": [
            2,
            "single",
            {
                "allowTemplateLiterals": true
            }
        ],
        "no-void": "off",
        "jsdoc/require-jsdoc": [
            "error",
            {
                "require": {
                    "MethodDefinition": true,
                    "ArrowFunctionExpression": true,
                }
            }
        ],
        "header/header": [2, "./setup/file-header.js"]
    },
    "plugins": [
        "jsdoc",
        "header"
    ]
}